* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e2e1e1;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

section .container-flex img {
    max-width: 200px;
    margin-right: 15px;    
}

p {
    text-align:left;
    padding-top: 5px;
}

li {
    list-style-type: none;
}

ul .container {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: #0d0670;
    padding: 16px 0 0;
    border-bottom: 1px solid #0d0670;
    margin-bottom: 56px;
}

header {
    background-color: #0d0670;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

.produto {

    flex-direction: column;
    text-align: center;
    padding: 20px;    
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #0d0670;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container-flex {       
        flex-wrap: wrap;
    }

    .produto {    
        flex-basis: calc(50% - 10px); 
    }

    .container {
        padding: 0 20px;   
    }
    
    section {
        padding: 24px 0;      
    }
}
    

@media screen and (max-width: 767px) {
    
    .container-flex {
        display: block;
    }

    .container {
        padding: 0 20px;   
    }
    
    section {
        padding: 24px 0;      
    }
}
